@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body{
    background-color: #E1FFFB;
    overflow: hidden;
    font-family: 'noto-sans-cjk-kr', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}